DATABASE_URL=YOUR_DATABASE_CONNECTION_STRING_HERE

JWT_SECRET=YOUR_JWT_SECRET_HERE
JWT_REFRESH_SECRET=YOUR_JWT_REFRESH_SECRET_HERE
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d

FRONTEND_IP=YOUR_FRONTEND_IP